<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="DataContext" connectionString="Data Source=rocj-edms-umsql;Initial Catalog=USL_Migration;User ID=sa;Password=P@ssw0rd123;" providerName="System.Data.SqlClient" />-->
    <!--
    <add name="DataContext" connectionString="Data Source=192.168.118.16;Initial Catalog=USL_Migration;User ID=sa;Password=Universal123;" providerName="System.Data.SqlClient" />
    <add name="AuditContext" connectionString="Data Source=192.168.118.16;Initial Catalog=USL_Migration;User ID=sa;Password=Universal123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DataContext" connectionString="Data Source=USAWS01WVSQL028.global.umusic.ext,8443;Initial Catalog=Mechs;User ID=Mechs;Password=password;" providerName="System.Data.SqlClient" />
    <add name="AuditContext" connectionString="Data Source=USAWS01WVSQL028.global.umusic.ext,8443;Initial Catalog=Mechs;User ID=Mechs;Password=password;" providerName="System.Data.SqlClient" />-->
    <add name="DataContext" connectionString="Data Source=USAWS01WVSQL026.global.umusic.ext,8443;Initial Catalog=Mechs;User ID=Mechs;Password=password;" providerName="System.Data.SqlClient" />
    <add name="AuditContext" connectionString="Data Source=USAWS01WVSQL026.global.umusic.ext,8443;Initial Catalog=Mechs;User ID=Mechs;Password=password;" providerName="System.Data.SqlClient" />
    <!--<add name="DataContext" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;User ID=DmlUser;Password=universal;Initial Catalog=DML;Data Source=10.254.4.13,8443" />-->
  </connectionStrings>
  <appSettings>
    <add key="pollInterval" value="10" />
    <add key="apiServiceUrl" value="http://spa.service" />
    <add key="mailSendRetry" value="3" />
    <add key="sendNotificationEmail" value="thovis55@hotmail.com" />
    <add key="sendErrorNotificationEmail" value="ioan.dan@endava.com" />
    <add key="sendErrorNotificationEmailSubject" value="License Processor Error Messages: Local Environment" />
    <add key="sendExpirationNotificationEmailSubject" value="Expired" />
    <add key="sendExpirationNotificationEmailBody" value="{0} license document was not electronically signed within the allowable 30-day window and is now deemed invalid.&lt;br /&gt; Please contact UMPG Mechanical Licensing for further assistance." />
    <add key="noOfRetries" value="3" />
    <add key="noOfNotifications" value="10" />
    <add key="timeOut" value="10000" />
    <!--Dev -->
    <add key="DmlCertificateThumbprint" value="798F02106110F51BB53947D6D4814631CE73A109" />
    <add key="UslCertificateThumbprint" value="E763BA7186EE1754D2BAD1E20A0A0446091FE553" />
    <add key="RecsCertificateSubject" value="CN=Router, OU=GLOBAL IT, O=UMPG, L=London, C=UK" />
    <add key="QualifyingWorksUnSecureUrl" value="http://10.144.11.252:9998/works.router/http" />
    <add key="SafeApiUrl" value="https://qa.esb.umpgapps.com:9995/safe.router/http" />
    <add key="RecsUnSecureUrl" value="http://10.144.11.252:9998/works.router" />
    <add key="RecsSecureUrl" value="https://10.144.11.252:9995/works.secured.router" />
    <!--QA-->
    <!--<add key="UslCertificateThumbprint" value="E763BA7186EE1754D2BAD1E20A0A0446091FE553"/>
    <add key="RecsCertificateSubject" value="CN=Router, OU=GLOBAL IT, O=UMPG, L=London, C=UK"/>

    <add key="QualifyingWorksUnSecureUrl" value="http://qa.esb.umpgapps.com:9998/works.router/http"/>
    <add key="SafeApiUrl" value="https://qa.esb.umpgapps.com:9995/safe.router/http"/>
    <add key="RecsUnSecureUrl" value="http://10.144.11.252:9998/works.router"/>
    <add key="RecsSecureUrl" value="https://10.144.11.252:9995/works.secured.router"/>-->
    <!--UAT-->
    <!--<add key="DmlCertificateThumbprint" value="798F02106110F51BB53947D6D4814631CE73A109"/>
    <add key="UslCertificateThumbprint" value="2533f0b161a53351b15b23fcd509a68648848291"/>
    <add key="RecsCertificateSubject" value="CN=Router, OU=GLOBAL IT, O=UMPG, L=London, C=UK"/>

    <add key="QualifyingWorksUnSecureUrl" value="http://uat.esb.umpgapps.com:9188/works.router/http"/>
    <add key="SafeApiUrl" value="https://uat.esb.umpgapps.com:9183/safe.router/http"/>
    <add key="RecsUnSecureUrl" value="http://uat.esb.umpgapps.com:9188/works.router"/>
    <add key="RecsSecureUrl" value="https://uat.esb.umpgapps.com:9183/works.secured.router"/>-->
    <!--Prod-->
    <!--<add key="DmlCertificateThumbprint" value="798F02106110F51BB53947D6D4814631CE73A109"/>
    <add key="UslCertificateThumbprint" value="2533f0b161a53351b15b23fcd509a68648848291"/>
    <add key="RecsCertificateSubject" value="CN=Router, OU=GLOBAL IT, O=UMPG, L=London, C=UK"/>

    <add key="SafeApiUrl" value="https://esb.umpgapps.com:8443/safe.router/http" />
    <add key="QualifyingWorksUnSecureUrl" value="http://esb.umpgapps.com:8080/works.router/http" />
    <add key="RecsSecureUrl" value="https://esb.umpgapps.com:8443/works.secured.router" />
    <add key="RecsUnSecureUrl" value="http://esb.umpgapps.com:8080/works.router" />-->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>